body {
    font-size: 16px;
    font-family: Arial, Helvetica, sans-serif;
    background-color: rgb(130, 187, 236);
    background: linear-gradient(to right,#000);
    color: white;

}

a {
    text-decoration: none;
    border:solid, 1px, black;
    color:var(--white);
    padding: 12px 48px;
    margin: 50px; 
}
.content{
    text-align: center;
}

.subtitle {
    margin-top: 50px ;
}
.title{
    margin-bottom: 50px;
}